// /* dashboard.component.css */
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .logout-btn {
    width: 100%;
    margin-top: 16px;
  }
  .total-content{
    display: grid;
    gap: 10px;
  }

  